# Bar Charts

Una gráfica de barras presenta **datos categóricos** por medio de barras rectangulares con altura o longitud proporcional a los valores que está representando.

En general, los datos y varibles que se respresentan en una gráfica son mediciones de escala *continua*, no obstante, también se puede representar información sobre alguna característica *discreta o categórica*. Por ejemplo, el peso, la altura y la edad en las respuestas de una encuesta representan son variables *continuas*. Sin embargo, el género, ocupación o el estatus marital son variables *categóricas o discretas*, es decir, se tratan de categorías y no están en una escala continua.

* Al usar `Bar Charts` podemos visualizar datos categóricos.
* Típicamente el eje-x contiene las categorías y el eje-y el conteo (número de ocurrencias) de cada categoría.
* No obstante el eje-y también puede ser cualquier agregación (count, sum, average, ...)

In [2]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [6]:
mainpath = "/home/oscar/Documentos/udemy/plotly-dash-joseport/Plotly-Dashboards-with-Dash-master/"
filename = "Data/2018WinterOlympics.csv"
fullpath = mainpath + filename

df = pd.read_csv(fullpath)

In [7]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [9]:
data = [go.Bar(
            x = df['NOC'],
            y = df['Total']
            )        
       ]

layout = go.Layout(title = 'Medals')

# en versiones mas recientes de Plotly no es necesario especificar
# data = , layout = 
fig = go.Figure(data = data, layout = layout)
 
pyo.plot(fig)

'file:///home/oscar/Documentos/udemy/plotly-dash-joseport/misnotebooks/temp-plot.html'

## Stacked Bar Charts

Las gráficas de barras apiladas muestran datos de una categoría dividido en subcategorías. Cada subcategoría se presenta sobre otra subcategoría. Este tipo de gráfico tiene una variante, la de barras anidadas (*nested bar chars*) donde las barras de cada subcategoría están separadas una al lado de otra. Las gráficas apiladas ofrecen una mejor visualización del total de cada categoría y sus subcategorías.

In [12]:
trace1 = go.Bar(
            x = df['NOC'],
            y = df['Gold'],
            name = 'Gold',
            marker = {'color':'#FFD700'}
            ) 

trace2 = go.Bar(
            x = df['NOC'],
            y = df['Silver'],
            name = 'Silver',
            marker = {'color':'#9EA0A1'}     
            )        


trace3 = go.Bar(
            x = df['NOC'],
            y = df['Bronze'],
            name = 'Bronze',
            marker = {'color': '#CD7F32'}
            ) 



data = [trace1, trace2, trace3]

#layout = go.Layout(title = 'Medals')

# layout para modo apilado
layout = go.Layout(title = 'Medals', barmode = 'stack')

# en versiones mas recientes de Plotly no es necesario especificar
# data = , layout = 
fig = go.Figure(data = data, layout = layout)
 
pyo.plot(fig)

'file:///home/oscar/Documentos/udemy/plotly-dash-joseport/misnotebooks/temp-plot.html'

### Ejercicio:
Elaborar una gráfica de barras apilada utilizando el archivo `../Data/mocksurvey.scv`. 

Notese que `Question` aparece en el índice (y debe usarse para el eje-x), mientras que `response` aparece en las columnas.

*Crédito extra:* Elaborar un gráfico de barras horizontal.

In [17]:
# Perform imports here..

import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [15]:
mainpath = "/home/oscar/Documentos/udemy/plotly-dash-joseport/Plotly-Dashboards-with-Dash-master/"
filename = "Data/mocksurvey.csv"
fullpath = mainpath + filename

In [21]:
# create the Dataframe from the .csv file...

# es importante definir columna del índice como del dato categórico
df = pd.read_csv(fullpath, index_col = 0)

In [20]:
df.head()

,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
Question 1,0.45,0.25,0.10,0.12,0.08
Question 2,0.12,0.07,0.48,0.18,0.15
Question 3,0.05,0.22,0.19,0.23,0.31

In [41]:
# create traces using a list comprehension

data = [go.Bar(
            x = df.index,
            y = df[response],
            name = response
            ) for response in df.columns
         ]

In [42]:
# create a layout, rememeber to set the barmode here
layout = go.Layout(
                title = 'Survey Results', 
                barmode = 'stack')

In [43]:
# create the chart

fig = go.Figure(data, layout)
pyo.plot(fig)

'file:///home/oscar/Documentos/udemy/plotly-dash-joseport/misnotebooks/temp-plot.html'

In [37]:
[x for x in df.columns.tolist()]

['Strongly Agree',
 'Somewhat Agree',
 'Neutral',
 'Somewhat Disagree',
 'Strongly Disagree']

In [47]:
# change the orientation to horizontal
data = [go.Bar(
            x = df[response],    
            y = df.index,
            orientation = 'h',
            name = response
            ) for response in df.columns
         ]

In [48]:
fig = go.Figure(data, layout)
pyo.plot(fig)

'file:///home/oscar/Documentos/udemy/plotly-dash-joseport/misnotebooks/temp-plot.html'